<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('myRepo', []).config(function ($httpProvider) {
            var flexApp = parent.document.getElementById("flexApplication");
            if (flexApp) $httpProvider.defaults.headers.common.Authorization = flexApp.getBasicAuth();
        }).controller('RepoController', function ($http, $scope) {

            $http.get('/api/extension/test/demo').then(function (d) {
                $scope.infrastructureCis = d.data.entity;
            });

            $scope.hasInfrastructure = function() {
                return !(typeof $scope.infrastructureCis == "undefined" || $scope.infrastructureCis == '');
            };
        });

        function refreshIframe() {
            document.getElementsByTagName("iframe").contentWindow.location.reload(true);
        }
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="myRepo" ng-controller="RepoController" class="ng-cloak">
<a href="#" onclick="location.reload();" class="reload-icon"><img src="refresh.png" /></a>

<div class="content">

    <h3 ng-if="hasInfrastructure()">The current Infrastructure</h3>
    <h3 ng-if="!hasInfrastructure()">Currently your Infrastructure is empty</h3>

    <div ng-if="!hasInfrastructure()">
        Please create some CIs inside Infrastructure folder and click "Refresh" icon.
    </div>


    <div ng-if="hasInfrastructure()">
        <div class="row header">
            <div class="col-md-6">ID</div>
            <div class="col-md-6">Type</div>
        </div>
        <div class="row" ng-repeat="ci in infrastructureCis">
            <div class="col-md-6">{{ci.id}}</div>
            <div class="col-md-6">{{ci.type}}</div>
        </div>
    </div>


</div>

</body>
</html>